.App {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.results {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  background: none;
  border: 2px solid #ffff;
  border-radius: 5px;
  padding: 0.7rem 0.8rem;
  color:#fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin:0.3rem;
}

button:hover {
  background-color: #c23875;
  color:#fff;
}

.mode {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:30%;
}

.game-mode .activeMode {
   background-color: rgb(27, 189, 27);;
}

.mode input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.card-grid {
  display: grid;
  margin-top:0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

@media only screen and (max-width: 1280px) {
  .App {
    width:90%;
  }
  button {
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
  }
}